{% extends "layout.html" %}
{% block content %}
    <div class="heading mb-4">
        <h4>Login into your account</h4>
    </div>
    <form method="POST">
        {{ form.hidden_tag() }}
        <div class="form-input">
            <div class="form-field"> 
                <span><i class="fa fa-envelope"></i></span>
                {{ form.email(placeholder="Email Address") }}
                {% if form.email.errors %}
                    <ul class="errors">
                        {% for error in form.email.errors %}
                            <li style="list-style: none;color: red;">{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
        </div>
        <div class="form-input">
            <div class="form-field"> 
                <span><i class="fa fa-lock"></i></span>
                {{ form.password(placeholder="Password") }}
                {% if form.password.errors %}
                    <ul class="errors">
                        {% for error in form.password.errors %}
                            <li style="list-style: none;color: red;">{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-6 d-flex">
                <div class="custom-control custom-checkbox">
                    {{ form.remember(class="custom-control-input",id="cb1") }}
                    {{ form.remember.label(class="custom-control-label text-white",for="cb1") }}
                </div>
            </div>
            <div class="col-6 text-right">
                <a href="{{ url_for('reset_request') }}" class="forget-link">Forget Password</a>
            </div>
        </div>
        <div class="text-left mb-3">
            <button type="submit" class="btn">Login</button>
        </div>
        <div style="color: #777;" class="text-right">Don't have an account
            <a href="{{ url_for('register') }}" class="register-link">Register here?</a>
        </div>
    </form>
{% endblock content %}